* {
  margin: 0;
  padding: 0;
}
:root {
  --black: #222;
  --white: #fff;
}
main {
  background: var(--black);
  height: 100vh;
  color: var(--white);
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.textocentral {
  display: flex;
  justify-content: center;
}

.textocentral h1 {
  width: 75%;
}

h1 {
  font-weight: 700;
  font-size: 3em;
}

h2 {
  font-weight: 600;
  font-size: 3em;
}

p {
  font-weight: 400;
  font-size: 2em;
}

.retangulo {
  background: #ca7900;
  width: 75%;
  display: flex;
  flex-direction: column;
  padding: 2em;
  border-radius: 1em;
  margin-top: 5em;
}

.container {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.doisbotoes {
  margin-top: 2em;
  display: flex;
  justify-content: space-around;
}

.doisbotoes button {
  all: unset;
  width: 150px;
  height: 50px;
  border: 5px solid #fff;
  border-radius: 1em;
  font-weight: 600;
  cursor: pointer;
}

.copo {
  position: absolute;
}
