* {
    margin: 0;
    padding: 0;
}

body {
    background: #2D2D2D;    
}

form{
    position: absolute;
    margin: auto;
    display: flex;
    flex-direction: column;
    left: 37vw;
    top: 6.8vh;
    
}
form img {
    width: 19.4375rem;
    margin: 4vh auto;
}
form p {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    color: #FFFFFF;
    margin-bottom: 5vh;
    text-align: center;
}
form label {
    font-family: 'Raleway';
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 0.5vw;
    margin-top: 1.5vw;
}
form input {
    padding: 11px 13px;
    gap: 8px;

    width: 524px;
    height: 2.7vh;
   

    background: rgba(255, 255, 255, 0.9);
    /* Escala neutra/Preto */

    border: 1px solid #181818;
    border-radius: 10px;
    
}
form input::placeholder {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    
    color: #616161;
}

form span{
    color: red;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-align: right;
    margin-bottom: 0vh;
    display: none;
}

#sucess {
    width: 50px;
    height: 14px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #05f805;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 2vh;
    
}

#cadastrar {
    margin-bottom: 2vh;
    margin-top: 3vh;
    width: 100%;
    height: 5vh;
    cursor: pointer;
    background: #0C70F2;
    border-radius: 6px;
    text-align: center;
    
    

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    color: #FFFFFF;
}
#cadastrar:active {
    background-color: blue;
    transform: scale(0.95);
}


#dncLogo {
    
    width: 10.25rem;
    margin-left: 3.4375rem;
    margin-top: 2.625rem;
}

